{% extends 'base.html' %}
{% load static %}
{% block title %}
    View User Profile
{% endblock %}
{% block content %}
    <link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
/>

    <link rel="stylesheet" href="{% static 'css/auth_files/profile.css' %}">
    <div style="background-color: #ffdddd; border-left: 6px solid #f44336; padding: 12px; margin-bottom: 20px;">
  <strong>⚠️ Note:</strong> Media uploads won’t be stored. I need Amazon S3 or other cloud storage for that. 😅 Ran out of time for that!
</div>

    <div class="main-content">
  <div class="profile-container">
    <div class="profile-left">
    {% if profile_user_.profile_pic %}
      <img src="{{ profile_user_.profile_pic.url }}" alt="Profile Photo" class="profile-photo">
{% else %}
        <img src="{% static 'images/default_pic.png' %}" alt="Profile Photo" class="profile-photo">
    {% endif %}
      <!-- Social Links -->
      <div class="social-links">
        <a href="{{ profile_user_.inst }}"><i class="inst fab fa-instagram {% if profile_user_.inst %}enabled{% else %}disabled{% endif %}"></i></a>
        <a href="{{ profile_user_.twitter }}"><i class="face fab fa-facebook {% if profile_user_.twitter %}enabled{% else %}disabled{% endif %}"></i></a>
        <a href="{{ profile_user_.facebook }}"><i class="twit fa-brands fa-x-twitter {% if profile_user_.facebook %}enabled{% else %}disabled{% endif %}"></i></a>
      </div>
    </div>

    <div class="profile-info">
      <h2>{{ user.username }}</h2>
      <p><strong>Full Name:</strong> {{ user.first_name }} {{ user.last_name }}</p>
      <p><strong>Email:</strong> {{ user.email }}</p>
        <!-- New Fields -->
          <p><strong>Joined On:</strong> {{ user.date_joined|date:"F d, Y" }}</p>
          <p>
              <strong>Total Blogs:</strong>
              {% if total_blogs != 0 %}
              {{ total_blogs }}
              <a href="{% url 'view_user_all' profile_user_.user.id %}" class="view-all-link">(View All)</a>
              {% else %}
              {{ user.username }} is yet to post a blog....
              {% endif %}
          </p>
    <style>

.view-all-link {
  margin-left: 8px;
  font-size: 0.9rem;
  color: #ff5722;
  text-decoration: none;
}

.view-all-link:hover {
  text-decoration: underline;
  color: #e64a19;
}
    </style>

        <p><strong>Bio:</strong>
            <div class="bio-section">
        <p id="bio-text">
            {{ profile_user_.bio|linebreaksbr }}
        </p>
  <button id="view-more-btn">View More</button>


    </div>
        {% if request.user.id == profile_user_.user.id %}
      <button class="edit-btn" onclick="window.location.assign('{% url 'update_user_profile' request.user.id %}')">Edit Profile</button>
        {% endif %}
    </div>

  </div>
    </div>
    <script src="{% static 'js/bio.js' %}"></script>
{% endblock %}

